<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundlab.web.service.ServiceMapper">
	<select id="getArtist" resultType="map" parameterType="string">
		  SELECT
		     A.*,
			 I.IMG_NAME, 
			 I.EXT
		FROM ARTIST AS A
			 LEFT JOIN IMG AS I
			 ON A.ARTIST_SEQ = I.SEQ
		WHERE A.ARTIST_NAME LIKE #{artist}
	</select>
	
	<select id="getMusicList" resultType="map" parameterType="string">
			<!-- SELECT
		  		MUSIC_SEQ 'MUSICSEQ',
		  		MUSIC_TITLE 'MUSICTITLE'
			FROM  MUSIC 
		 	WHERE ARTIST_SEQ LIKE #{artistSeq} -->
		 	SELECT 
				M.MUSIC_SEQ,
				M.MUSIC_TITLE,
				A.ARTIST_NAME,
				A.ARTIST_SEQ
				FROM MUSIC AS M
				JOIN ARTIST AS A
				ON M.ARTIST_SEQ = A.ARTIST_SEQ
				WHERE M.ARTIST_SEQ LIKE #{artistSeq};
		 	
	</select>
	
	<select id="getAlbumList"  resultType="map" parameterType="string">
		 SELECT
		     B.ALBUM_SEQ,
			 B.ALBUM_TYPE,
			 B.ALBUM_TITLE,
			 B.RELEASE_DATE,
			 I.IMG_NAME, 
			 I.EXT
		FROM ALBUM AS B
			 JOIN IMG AS I
			 ON B.ALBUM_SEQ = I.SEQ
		WHERE B.ALBUM_SEQ IN(
			SELECT M.ALBUM_SEQ
			FROM MUSIC M
			WHERE M.ARTIST_SEQ LIKE #{artistSeq}
		)
	</select>
	<select id="getMvList" resultType="map" parameterType="string">
		SELECT
		     M.MV_SEQ,
			 M.MV_TITLE,
			 M.RELEASE_DATE,
			 M.MUSIC_SEQ,
			 M.ytb
		FROM MV AS M
		WHERE M.MUSIC_SEQ IN(
			SELECT MC.MUSIC_SEQ
			FROM MUSIC MC
			WHERE MC.ARTIST_SEQ LIKE #{artistSeq}
			)
	</select>
	
	<select id="getPlayer" resultType="map" >
		SELECT * FROM JT_VIEW_PLAYER
			<where>
				<if test= "musicSeq != null">
					MUSIC_SEQ in (${musicSeq})
				</if>
				<if test= "albumSeq != null">
					AND ALBUM_SEQ in (${albumSeq})
				</if>
	 		 </where>
	</select>

</mapper>

