<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundlab.web.main.MainMapper">
	  <select id="getHash" resultType="int">
	    SELECT count(*) 
	    FROM view_record 
	    WHERE sg_element like 'hash' 
	    GROUP BY seq_group 
	    ORDER BY seq_group;
	  </select>
	  <select id="getChart" parameterType="map" resultType="map">
	    select 
			RANK() OVER (PARTITION BY v.sg_element ORDER BY count(*) desc) RANK,
			v.seq_group MUSIC_SEQ ,count(*) 스트리밍, m.MUSIC_TITLE 타이틀,m.ARTIST_SEQ ARTIST_SEQ,
			(select artist_name from artist where artist_seq like m.artist_seq) 가수,
			 m.ALBUM_SEQ ALBUM_SEQ, (select album_title from album where album_seq like m.album_seq) 앨범,
			 (select CONCAT(img_name,'.',EXT) from img where seq like ALBUM_SEQ) IMG_NAME
		from view_record v
			left join music m on v.SEQ_GROUP = m.MUSIC_SEQ
		where 
			v.sg_element like 'music' 
			and v.view_date between  CONCAT(#{date1},'%') AND CONCAT(#{date2},'%')
		group by v.seq_group
		order by count(*) desc limit 5;
	  </select>
</mapper>