<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundlab.web.admin.AdminMapper">
	<resultMap type="map" id="admin">
		<result property="songSeq" column="song_seq"/>
		<result property="musicTitle" column="music_title"/>
		<result property="genreSeq" column="genre_seq"/>
		<result property="genreName" column="genre_name"/>				
		<result property="artSeq" column="art_seq"/>
		<result property="artistName" column="artist_name"/>
		<result property="albumSeq" column="album_seq"/>
		<result property="albumTitle" column="album_title"/>
		<result property="age" column="age"/>
		<result property="ageGroup" column="age_group"/>
		<result property="sex" column="sex"/>
		<result property="str" column="str"/>
		<result property="good" column="good"/>
		<result property="bad" column="bad"/>
		<result property="sumStr" column="sum_str"/>
		<result property="sumGood" column="sum_good"/>
		<result property="date" column="date"/>
		<result property="sumVisit" column="sum_visit"/>
		<result property="mSumVisit" column="m_sum_visit"/>
		<result property="fSumVisit" column="f_sum_visit"/>
		
	</resultMap>
	<select id="artiGS" resultMap="admin">
		SELECT * FROM NR_GS
		WHERE ARTIST_NAME LIKE #{artist_name}
	</select>
	<select id="ageGenre" resultMap="admin">
	SELECT * FROM AGE_GENRE
	</select>
	<select id="ageArtist" resultMap="admin">
	SELECT * FROM AGE_ARTIST
	</select> 
	<select id="sexGenre" resultMap="admin">
	SELECT * FROM SEX_GENRE
	</select>
	<select id="sexArtist" resultMap="admin">
	SELECT * FROM SEX_ARTIST
	</select>
	<select id="cntVisiter" resultMap="admin">
	SELECT * FROM VISITER
	<!-- WHERE DATE BETWEEN '2018-10-15' AND '2018-10-22' -->
	</select>
	
	
</mapper>










